  <div class="box">
  
    <h2>Logowanie</h2>
    
    <form action="">
      <div class="login-form">
        
        <label for="username">Email</label>
        <input type="text" name="email" id="email" placeholder="email" [(ngModel)]="email">
        
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="hasło" [(ngModel)]="password">
        
      </div>
      <input (click)="loguj()" id="submit" type="submit" value="Zaloguj" class="btn solid">
    </form>
  </div>
